# Force the following filetypes to have unix eols, so Windows does not break them
*.vim eol=lf
*.sh eol=lf
*.fish eol=lf
fish* eol=lf
*.profile eol=lf
*.colorscheme eol=lf
bashrc eol=lf
gitconfig eol=lf

